form.kort {
	display: none;
}

form.kort.enabled {
	display: block;
}

form.kort input[name="identifier"] {
	display: none;
}

form.kort input[name="identifier"].enabled {
	display: block;
}